---
- name: Install Docker and run BloomDailyHub container
  hosts: all
  become: true

  tasks:
    - name: Update system
      apt:
        update_cache: yes

    - name: Install Docker
      apt:
        name: docker.io
        state: present

    - name: Start Docker service
      service:
        name: docker
        state: started
        enabled: true

    - name: Pull Docker image
      command: docker pull instantprachi/bloomdailyhub

    - name: Run Docker container
      command: docker run -d -p 80:80 --name bloomdailyhub instantprachi/bloomdailyhub
